body{
	width: 960px;
	margin: 0 auto;
	padding: 0;
	background: black;
	color: #cecece;
}

#main-content{
	background-color: #000;
	padding: 5px 20px;
	font: normal normal normal 14px/1.5 helvetica, arial, sans-serif;
}

/*---------------style---------------*/


ul{
	list-style: none;
}


h1, h2, h3{
	font-family: 'Orbitron', sans-serif; 
	color: #94dfe5;
	clear: both;
}

header h1{
	font-size: 30px;
	background-color: #111;
}


.signature{
	font-weight: normal;
	font-size: 12px;
}

.tron{
	text-transform: uppercase;
}


h2, h3{
	font-weight: normal;
}

#cta{
	border-bottom: 1px white solid;
	margin-top: 40px;
}


.feature{
	padding: 0;
	margin: 0;
}


/*--------------buy now---------------*/

#cta .button{
	display: block;
	width: 240px;
	padding: 15px 15px;
	margin: 25px; 0px;
	text-align: center;
	
	
	
	background-color: #78dcfc; /* Old browsers */
	background: -moz-linear-gradient(top,  #78dcfc 0%, #008fa1 92%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#78dcfc), color-stop(92%,#008fa1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #78dcfc 0%,#008fa1 92%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #78dcfc 0%,#008fa1 92%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #78dcfc 0%,#008fa1 92%); /* IE10+ */
	background: linear-gradient(to bottom,  #78dcfc 0%,#008fa1 92%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78dcfc', endColorstr='#008fa1',GradientType=0 ); /* IE6-9 */
;




	border: solid 5px #78dcfc /* Old browsers */
	background: -moz-linear-gradient(top,  #78dcfc 0%, #008fa1 92%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#78dcfc), color-stop(92%,#008fa1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #78dcfc 0%,#008fa1 92%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #78dcfc 0%,#008fa1 92%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #78dcfc 0%,#008fa1 92%); /* IE10+ */
	background: linear-gradient(to bottom,  #78dcfc 0%,#008fa1 92%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78dcfc', endColorstr='#008fa1',GradientType=0 ); /* IE6-9 */
; 
	border-radius: 10px;
	

}

/*--------------gallery---------------*/

/*---------------header---------------*/


header h1{
	margin-top: 14px;
	height: 80px;
	width: 45%;
	float: left;
	overflow: hidden;
}

/*-------------navigation-------------*/
nav{
	float: right;
	width: 55%;
	overflow: hidden;
	padding: 0;
}

nav ul{
	padding: 0;
	overflow: hidden;
}

nav li{
	width: 160px;
	float: left;
}
	
nav a{
	background: url(../images/RZR_TronKB_Blk/sprite.png) no-repeat;
	display: block;
	height: 80px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

nav a:hover{
	background-position: 0 -80px; 
}

nav a:active{
	background-position: 0 -160px; 	
}



/*------------shop button-------------*/
.shop a{
	background-position: -160px 0px;
}

.shop a:hover{
	background-position: -160px -80px;
}

.shop a:active{
	background-position: -160px -160px;
}


/*------------support button------------*/
.support a{
	background-position: -320px 0px;
}

.support a:hover{
	background-position: -320px -80px;
}

.support a:active{
		background-position: -320px -160px;
}


/*----------------columns----------------*/
.column1{
	float: right;
	display: block;
	width: 40%
}

.column2{
	float: left;
	display: block;
	width: 50%
}

/*---------------features----------------*/
dt{
	font-weight: bold;
	text-indent: none;
}

/*-----------------footer-----------------*/
footer{
	font-size: 9px;
	text-align: center;
	margin: 10px 10px;
	padding: 10px 2px;
	clear: both;
	height: 20px;
	line-height: 20px;
}	