body{
	background: #24180E;
	font: normal normal normal 14px/1.5 'Helvetica', 'Arial', sans-serif;
}

#main-content{
	width: 85%;
	margin: auto;
	background-color: #FCF5D7;
}

/*Navigation*/

nav ul{
	position: relative;
	top: 0;
	float: right;
	list-style-type: none;
	background-color:#FFC087;
	width: 100%;
	margin: 0px 0px 10px;
	padding: 1px 0px 1px;
}

nav a{
	position: relative;
	float: left;
	text-align: center;
	display: block;
	width: 12%;
	margin: auto;
	padding: 10px 2px;
	text-decoration: none;
	line-height: 1.5em;
	border-right: 1px solid #A66F3F;
}

nav a:link{ 
	color: #401801;
}

nav a:visited{
	color: #8C2000;
}

nav a:hover{
	color: #401700;
}

nav a:active{
	color: #401700;
}
/*End Navigation*/


/*Columns*/

.column2{
	margin: 65px 20px 10px;
	padding: 9px;
	float: right;
	display: block;
	width: 44%;
}

.column1{
	margin: 0px 20px 10px;
	padding: 9px;
	float: left;
	display: block;
	width: 44%;
}

#sinbad{
	float: right;
	display: block;
	width: auto;
	padding: 5px;
}

/*End Columns*/


/*gallery*/

#gallery{
	margin: auto;
	background: #f36283;
	padding: 0;
	list-style-type: none;
}

#gallery a{
	float: left;
	display: block;
	width: auto;
	margin: 0 auto;
	padding: 2px 1px 2px;
}

/*end gallery*/

/*Headers*/
h1,h2,h3{
	text-transform: uppercase;
	color: #112A47;
	width: 400px;
}

h1{
	font: bold 35px/1 verdana, sans-serif;
}

h2{
	font: 20px/1.5 verdana, sans-serif;
}

h3{
	font: 15px/1.5 verdana;
}
/*End Headers*/



/*footer*/

.footer{
	padding: 5px;
	margin: auto;
	text-align: center;
	clear: both;
	color: white;
}
/*end footer*/