*{
	color:grey
	font:14px Helvetica;
	background-color:#E5D9B8;
}

p{
	
	color:#8BA5C4; 
	font:12px Helvetica;
	font-family:verdana;
	font-size:14px;
	line-height: 1.5;
	color:gray;
	width:700px;
}

ul li{
	color:#4D6078;
	list-style-type: none;
	font:13px helvetica;
}

ol li{
	color:#4D6078;
	word-spacing: 2px;
}

h1,h2,h3{
	text-transform:uppercase;
	text-shadow: 2px 2px 2px #666;
	color:#112A47;
	background: rgba(19, 70, 127, 0.9);
	letter-spacing: .7em;
	width: 700px;
}

h1{
	text-indent: 15px;
	font: bold 35px/1.5 verdana;
}

h2{
	font: 30px/1.5 verdana;
}

h3{
	text-align:center;
	font: 20px/1.5 verdana;
}

a:link{ 
	color:#4D6078;
}

a:visited{
	color:#7B96B8;
}

a:hover{
	color:#4D6078;
}

a:active{
	color:#8BA5C4;
}