*{
	color:grey
	font:14px Helvetica;
}

ul{
	list-style-type: none;
}

p{
	color:#E01B6A; 
	font:12px Helvetica;
}

ul li{
	
	color:fuchsia;
}

ol li{
	color:red;
}

h1,h2,h3{
	text-transform:uppercase;
	text-shadow: 2px 2px 2px #666;
	color:gold;
	font: small caps italic 40px/1.5 verdana;
}

p{
	font-weight:bold;
	font-style:italic;
	font-family:verdana;
	font-size:14px;
	line-height: 1.5;
	color:gray;
}

h3{
	text-align:center
}

a:link{ 
	color:red;
}

a:visited{
	color:green;
}

a:hover{
	color:purple;
}

a:active{
	color:orange
}

p:first-line{
	color:pink;
}