*{
	color:grey
	font:14px Helvetica;
	background-color:#E5D9B8;
}

ul{
	list-style-type: none;
}

p{
	color:#8BA5C4; 
	font:12px Helvetica;
	font-family:verdana;
	font-size:14px;
	line-height: 1.5;
	color:gray;
	width:700px;
}

ul li{
	color:#4D6078;
}

ol li{
	color:#4D6078;
}

h1,h2,h3{
	text-transform:uppercase;
	text-shadow: 2px 2px 2px #666;
	color:#1B2B3D;
	font: small caps italic 40px/1.5 verdana;
}

h3{
	text-align:center
}

a:link{ 
	color:#4D6078;
}

a:visited{
	color:#7B96B8;
}

a:hover{
	color:purple;
}

a:active{
	color:orange
}